{
  "extends": [
    "djo-base/es5"
  ],
  "rules": {
    "eqeqeq": [0],
    "func-names": [0],
    "no-param-reassign": [0],
    "no-plusplus": [0],
    "no-loop-func": [0],
    "import/no-extraneous-dependencies": [0]
  }
}
